/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  font-family: var(--main-font, monospace);
  background-image: var(--bg-image); 
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* почему-то у меня марджины пошли наверх, переделать в адеквате */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--main-mobile-gap, 10px);
  margin-block-end: 40px;
}

@media (width >= 768px) {
  .header {
    padding: var(--main-gap, 20px);
  }
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color, rgb(255, 0, 112));
  border-block-start: 1px solid var(--nav-color, rgb(255, 0, 112));
  inset-block-start: var(--main-mobile-gap, 10px);
  inset-inline-end: var(--main-mobile-gap, 10px);
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-block-start: var(--main-gap, 20px);
    inset-inline-end: var(--main-gap, 20px);
  }
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color, rgb(255, 0, 112));
  border-block-end: 1px solid var(--nav-color, rgb(255, 0, 112));
  inset-block-end: var(--main-mobile-gap, 10px);
  inset-inline-start: var(--main-mobile-gap, 10px);
}

@media (width >= 768px) {
  .decorated-zone::after {
    inset-block-end: var(--main-gap, 20px);
    inset-inline-start: var(--main-gap, 20px);
  }
}

.header__theme-dark-decoration {
  position: absolute;
  text-transform: uppercase;
  font-size: var(--main-font-size, 18px);
  line-height: 1.4;
  inset-block-start: 10px;
  inset-inline-end: var(--main-gap, 20px);
  color: var(--accent-color, rgb(255, 0, 112));
  display: flex;
  align-items: center;
  gap: var(--main-mobile-gap, 10px);
}

@media (width >= 768px) {
  .header__theme-dark-decoration {
    inset-block-start: var(--main-gap, 20px);
    inset-inline-end: 30px;
  }
}

.header__theme-dark-decoration::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, rgb(255, 0, 112));
  background-color: var(--accent-color, rgb(255, 0, 112));
}

/* menu, ..., menu-item */

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-height, 1.3);
  color: var(--nav-color, rgb(255, 0, 112));
  padding: 1px 13px 2px;
  text-transform: lowercase;
  border: solid 1px transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-theme-hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  border: solid 1px transparent;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--nav-color, rgb(255, 0, 112));
}

.header__theme-menu-button_active {
  cursor: default;
  pointer-events: none;
  border-color: var(--nav-color, rgb(255, 0, 112));
}

.header__main-title {
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color,rgb(255, 0, 112));
  font-weight: var(--bold-font, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color, rgb(219, 0, 255));
  justify-self: start;
}

@media (width >= 768px) {
  .header__main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__main-description {
  font-size: var(--main-font-size, 18px);
  color: var(--subheading-color, rgb(0, 0, 40));
  background-color: var(--accent-color, rgb(255, 0, 112));
  font-weight: var(--bold-font, 700);
  line-height: var(--main-line-height, 1.3);
  inline-size: clamp(355px, 0.5vw, 491px);
}

.main__section {
  padding-inline: var(--main-mobile-gap, 10px);
  margin-block-end: 50px;
}

@media (width >= 768px) {
  .main__section {
    padding-inline: var(--main-gap, 20px);
    margin-block-end: 80px;
  }
}

/* reasons */

.main__section-title {
  font-size: var(--main-font-size, 18px);
  color: var(--nav-color, rgb(255, 0, 112));
  line-height: var(--main-line-height, 1.3);
  font-weight: var(--bold-font, 700);
  margin-block-end: var(--main-gap, 20px);
}

/* section-list, reasons-list, section-list-item, reasons-list-item */

.main__section-subtitle {
  font-size: var(--main-font-size, 18px);
  color: var(--subheading-color, rgb(0, 0, 40));
  background-color: var(--accent-color, rgb(255, 0, 112));
  line-height: var(--main-line-height, 1.3);
  font-weight: var(--bold-font, 700);
  margin-block-end: var(--main-mobile-gap, 10px);
}

.main__section-text {
  color: var(--text-color, rgb(241, 178, 206));
  line-height: var(--main-line-height, 1.3);
  font-size: var(--main-font-size, 18px);
  margin-block-end: var(--main-gap, 20px);
}

.main__section-text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, rgb(255, 0, 112));
  cursor: pointer;
}

.main__section-text-link:hover {
  border-block-end: 1px solid var(--text-color, rgb(241, 178, 206));
}

.main__section-text-link:focus {
  outline: none;
}

.main__section-text-link:focus-visible {
  outline: 1px solid var(--text-color, rgb(241, 178, 206));
}

.main__causes {
  padding-inline: var(--main-mobile-gap, 10px);
  margin-block-end: 50px;
}

/* causes, causes-list, causes-list-item, advice, advice-list, advice-list-item */

.main__advice-subtitle {
  margin-block-end: var(--main-gap, 20px);
}

.main__advice-list-item-title {
  line-height: var(--main-line-height, 1.3);
  font-size: var(--main-font-size, 18px);
  color: var(--subheading-color, rgb(0, 0, 40));
  background-color: var(--accent-color, rgb(255, 0, 112));
  font-weight: 400;
  margin-block-end: var(--main-mobile-gap, 10px);
}

.main__gallery {
  margin-block-end: 40px;
}

.main__gallery-list {
  display: grid;
  gap: var(--main-mobile-gap, 10px);
  grid-template-rows: clamp(142px, 20vh, 192px);
  grid-auto-rows: clamp(355px, 52vh, 441px) clamp(237px, 35vh, 568px);
  grid-auto-flow: row;
}

@media (width >= 768px) {
  .main__gallery-list {
    grid-template-columns: repeat(3, clamp(230px, 30vw, 315px));
    grid-template-rows: clamp(192px, 25vw, 260px) 1fr clamp(318px, 41vw, 428px);
    grid-auto-flow: dense;
    gap: var(--main-gap, 20px);
  }

  .main__gallery-list-item:nth-child(1) {
    grid-column: span 2;
  }

  .main__gallery-list-item:nth-child(2) {
    grid-row: span 2;
  }

  .main__gallery-list-item:nth-child(3) {
    grid-row: span 2;
  }

  .main__gallery-list-item:nth-child(5) {
    grid-column: span 2;
  }
}

/* справа непонятный отступ, проверить */

.main__gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--main-mobile-gap, 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  .footer {
    padding: var(--main-gap, 20px);
  }
}

.footer__heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--bold-font, 700);
  color: var(--title-color, rgb(219, 0, 255));
  text-shadow: 2px 2px 0 var(--accent-color,rgb(255, 0, 112));
  line-height: 0.825;
}

@media (width >= 768px) {
  .footer__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}